*,
::before,
::after {
  margin: 0;
  font-weight: 600;
  padding: 0;
}

.icn {
  font-size: 20px;
  color: white;
}

.bodyIcn {
  font-size: 30px;
}

.point,
i {
  cursor: pointer;
}

.profileIcn_container {
  background-color: #fe1e4d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 3px;
  margin-top: -12px;
}

.profileIcn {
  background-color: #fe1e4d;
  color: white;
  font-size: 10px;
}

span {
  font-family: sans-serif;
  font-size: 12px;
  padding: 5px 0 0;
  user-select: none;
}

.video_container {
  max-width: 400px;
  width: 375px;
  margin: 0 auto;
  position: relative;
  background-color: black;
  height: 100vh;
  padding: 0px auto;
}

.video_container:hover .playPauseContainer {
  opacity: 1;
}

video {
  margin: 0 auto;
}

.sort_container {
  font-family: sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: absolute;
  top: 10px;
  left: 35px;
  z-index: 100;
}

.liveIcon {
  padding: 0 10px 0 0;
}

.searchIcon {
  padding: 0 0 0 10px;
}

.hol {
  display: flex;
  list-style-type: none;
  color: white;
}

.hol li {
  padding: 0 8px;
}

.sort_container img {
  width: 25px;
}

.playPauseContainer {
  color: white;
  font-size: 20px;
  position: absolute;
  transform: translate(30px, -30px);
  top: 50%;
  right: 50%;
  display: flex;
  gap: 0.5rem;
  width: 48px;
  height: 48px;
  overflow: hidden;
  transition: opacity 900ms;
}

.pauseIcn,
.playIcn {
  border-radius: 50%;
  padding: 15px;
}

.playPauseContainer {
  z-index: 100;
}

.playPauseContainer.paused .pauseIcn {
  display: none;
}

.playPauseContainer:not(.paused) .pauseIcn {
  display: block;
}

.social_icons_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 20%;
  z-index: 100;
}

.social_icons_container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  color: white;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.path_container {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0;
}

.tiktokPlus {
  width: 50px;
  border-radius: 12px;
}

.userImg {
  width: 20px;
}

@media screen and (max-width: 800px) {
  .playPauseContainer {
    display: none;
  }
}

.swiper {
  height: 600px;
}
